ZooApi.ApiBlueprint.Tests/node_modules/
packages/Microsoft.Bcl.Build.1.0.14/
packages/Microsoft.Bcl.1.1.10/
packages/Microsoft.Net.Http.2.2.29/
packages/Microsoft.AspNet.WebApi.Client.5.2.3/
packages/Microsoft.AspNet.Razor.3.2.3/
packages/Microsoft.AspNet.WebApi.Core.5.2.3/
packages/Microsoft.AspNet.Mvc.5.2.3/
packages/Microsoft.AspNet.WebPages.3.2.3/
packages/Microsoft.AspNet.WebApi.WebHost.5.2.3/
packages/Microsoft.Web.Infrastructure.1.0.0.0/
ZooApi/obj/
packages/Newtonsoft.Json.6.0.4/
ZooApi/bin/
ZooApi.ApiBlueprint.Tests/obj/
packages/Newtonsoft.Json.8.0.3/
ZooApi.ApiBlueprint.Tests/bin/
ApiBlueprint.Models/obj/
packages/Microsoft.AspNet.WebApi.5.2.3/
ZooApi.ApiBlueprint.Tests/UnitTest1.cs
ZooApi.ApiBlueprint.Tests/apiary.json
ZooApi.ApiBlueprint.Tests/BlueprintTests.cs
